body{
    background: url(img/image4.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-backkground-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.quiz-section{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 100px;

}
.question-options{
    padding:20px;
}
.space{
    padding-top:20px;
       
}